<h1>Angular custom Calendar</h1>
<mat-card class="container" fxFlex fxLayout="column">
  <div fxFlex="70">
    <mat-calendar *ngIf="holidays" [startAt]="date" [dateFilter]="dateFilter" [selected]="selectedDate" (selectedChange)="onSelect($event)" [dateClass]="dateClass()"></mat-calendar>
  </div>
  
</mat-card>
<div *ngIf="occasion">
  <span fxFlex="25">
    <mat-label class="text-header">Occasion</mat-label>
  </span>
  <span fxFlex="75">
    <input matInput [value]="occasion ? occasion : ''" [readonly]="true" />
  </span>
</div>
<div fxLayout="row">
  <div fxFlex fxLayoutAlign="end" fxLayoutGap="10px">
    <button mat-flat-button color="warn" (click)="removeHoliday()" [disabled]="disableRemoveHolidays">Remove Occasion</button>
    <button mat-flat-button color="accent" (click)="addHoliday()" [disabled]="disableAddHolidays">Add Occasion</button>
  </div>
</div>